---
layout: default
title: Faculty
faculty:
- name: Claire Kabine
  title: Director
  image: kabine.jpg
- name: Holly Zoller
  title: 1st Grade
  image: zoller.jpg
- name: Sandra Thornton
  title: 2nd Grade
  image: thornton.jpg
- name: Amy Fleming
  title: 3rd Grade
  image: fleming.jpg
- name: Vickie Roberson
  title: 4th-8th Grade English
  image: roberson.jpg
- name: Kathy Flanagan
  title: 4th-8th Grade Math
  image: flanagan.jpg
- name: Deidre Rowe
  title: 4th-8th Grade History / Geography
  image: rowe.jpg
- name: Samantha Campbell
  title: 4th-8th Grade Science
  image: ''
- name: Hillary Solymosi
  title: Music and Latin
  image: solymosi.jpg
- name: Silvia Dopico
  title: Spanish
  image: dopico.jpg
- name: Nicole Comer
  title: P.E.
  image: comer.jpg
- name: Kerry Bevers
  title: Art
  image: ''
menu:
  main:
    weight: 4

---
<div class="container">
  <h1>{{ page.title }}</h1>
  <div class="faculty-container">
    {% for faculty in page.faculty %}
    <div class="faculty-card">
      {% if faculty.image == '' %}
      <div class="faculty-placeholder">Picture Coming Soon</div>
      {% else %}
      <img src="/uploads/{{ faculty.image }}" alt="">
      {% endif %}
      <h2 class="faculty-name">{{ faculty.name }}</h2>
      <h3 class="faculty-subject">{{ faculty.title }}</h3>
    </div>
    {% endfor %}
  </div>
</div>