---
layout: default
title: Home
introduction: Trinity Classical Academy provides elementary and middle school students
  with an academically rigorous, classical Christian education in partnership with
  parents.
highlights:
- icon: book
  content: Challenging and Engaging Curriculum
- icon: university
  content: Structured And Nurturing Learning Environment
- icon: heart
  content: Positive Student Culture
- icon: users
  content: Desirable Student-Teacher Ratio
contents:
- title: Curriculum
  content: The classical curriculum is coherent, cumulative, and content-specific
    focusing on both knowledge and thinking skills.
- title: Technology
  content: Technology is strategically and thoughtfully integrated throughout the
    curriculum to foster communication, collaboration, and critical thinking.
menu:
  main:
    weight: 1

---
<div class="home__highlight--full">
  <div class="container">
    <p>{{ page.introduction }}</p>
  </div>
</div>
<div class="container">
  {% for item in page.highlights %}
  <div class="home__highlight">
    <p><i class="fa fa-{{ item.icon }} fa-2x" aria-hidden="true"></i></p>
    <p>{{ item.content }}</p>
  </div>
  {% endfor %}
</div>
<div class="home__midhero"></div>
<div class="container">
  {% for item in page.contents %}
  <div class="home__highlight--half">
    <h2>{{ item.title }}</h2>
    <p>{{ item.content }}</p>
  </div>
  {% endfor %}
</div>