<div class="footer">
  <div class="footer__hero">
    <div class="container">
      <div class="footer__column">
        <h2>Contact Us</h2>
        <p>{{ site.data.global.phone }}<br>
        <a href="mailto:{{ site.data.global.email }}">{{ site.data.global.email }}</a></p>
      </div>
      <div class="footer__column">
        <h2>Physical Address</h2>
        <p>{{ site.data.global.address.physical.address }}<br>
          {{ site.data.global.address.physical.city }}, {{ site.data.global.address.physical.state }} {{ site.data.global.address.physical.zip }}</p>
      </div>
      <div class="footer__column">
        <h2>Mailing Address</h2>
        <p>{{ site.data.global.address.mailing.address }}<br>
          {{ site.data.global.address.mailing.city }}, {{ site.data.global.address.mailing.state }} {{ site.data.global.address.mailing.zip }}</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer__navigation">
      {% for item in site.menus.main %}
      <a class="footer__link" href="{{ item.url }}">{{ item.title }}</a>
      {% endfor %}
    </div>
    <div class="footer__copyright">
      &copy; 2017-2019 {{ site.data.global.name }}
    </div>
  </div>
</div>