<div class="footer">
  <div class="footer__hero">
    <div class="container">
      <div class="footer__column">
        <h2>Contact Us</h2>
        <p>(843) 327-7444<br>
        <a href="mailto:tcasummerville@gmail.com">tcasummerville@gmail.com</a></p>
      </div>
      <div class="footer__column">
        <h2>Physical Address</h2>
        <p>118 West 3rd South Street<br>
        Summerville, SC 29483</p>
      </div>
      <div class="footer__column">
        <h2>Mailing Address</h2>
        <p>P.O. Box 3169<br>
        Summerville, SC 29484</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer__navigation">
      <a class="footer__link" href="/">Home</a><a class="footer__link" href="/enrollment">Enrollment</a><a class="footer__link" href="/curriculum">Curriculum</a><a class="footer__link" href="/faculty">Faculty</a><a class="footer__link" href="/students">Students</a>
    </div>
    <div class="footer__copyright">
      &copy; 2017-2018 Trinity Classical Academy
    </div>
  </div>
</div>