<div class="header">
  <div class="container">
    <div class="header__nav">
      <a href="/"><img class="header__logo" src="/uploads/{{ site.data.global.logo }}" alt="Trinity Classical Academy"></a>
      <a class="header__link" href="/">Home</a>
      <a class="header__link" href="/enrollment">Enrollment</a>
      <a class="header__link" href="/curriculum">Curriculum</a>
      <a class="header__link" href="/faculty">Faculty</a>
      <a class="header__link" href="/students">Students</a>
    </div>
    <div class="header__images">
      <div class="header__images-container">
        <div class="header__image header__image-1"></div>
        <div class="header__image header__image-2"></div>
        <div class="header__image header__image-3"></div>
        <div class="header__image header__image-4"></div>
        <div class="header__image header__image-5"></div>
      </div>
    </div>
  </div>
</div>