<!doctype html>
<html lang="en">
  <head>
    <title>
      {{ page.title }} | Trinity Classical Academy | Private School in Summerville, SC
    </title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/assets/css/normalize.css" />
    <link rel="stylesheet" href="/assets/css/default.css?v1.2" />
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600" rel="stylesheet">
    <script src="https://use.fontawesome.com/8bff547081.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-839929-14', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    {% include header.html %}
    {{ content }}
    <div class="home__highlight--full">
      <div class="container">
        <p>{{ page.introduction }}</p>
      </div>
    </div>
    <div class="container">
      {% for item in page.highlights %}
      <div class="home__highlight">
        <p><i class="fa fa-{{ item.icon }} fa-2x" aria-hidden="true"></i></p>
        <p>{{ item.content }}</p>
      </div>
      {% endfor %}
    </div>
    <div class="home__midhero"></div>
    <div class="container">
      {% for item in page.contents %}
      <div class="home__highlight--half">
        <h2>{{ item.title }}</h2>
        <p>{{ item.content }}</p>
      </div>
      {% endfor %}
    </div>
    {% include footer.html %}
  </body>
</html>
