<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    {{ content }}
    <div class="home__highlight--full">
      <div class="container">
        <p>{{ page.introduction }}</p>
      </div>
    </div>
    <div class="container">
      {% for item in page.highlights %}
      <div class="home__highlight">
        <p><i class="fa fa-{{ item.icon }} fa-2x" aria-hidden="true"></i></p>
        <p>{{ item.content }}</p>
      </div>
      {% endfor %}
    </div>
    <div class="home__midhero"></div>
    <div class="container">
      {% for item in page.contents %}
      <div class="home__highlight--half">
        <h2>{{ item.title }}</h2>
        <p>{{ item.content }}</p>
      </div>
      {% endfor %}
    </div>
    {% include footer.html %}
  </body>
</html>
